<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目总负责人</title>

    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }
    </style>
</head>
<body>

<!--侧边-->
<el-container style="height: 800px; border: 1px solid #eee" id="chiefPeople">
    <!--            三个边栏-->
    <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
        <el-menu :default-openeds="['1', '3']">

            <el-menu-item index="1">管理团队</el-menu-item>

            <el-menu-item index="2">个人信息</el-menu-item>

            <el-menu-item index="3">消息通知</el-menu-item>
        </el-menu>
    </el-aside>

    <!--    内容-->
    <el-container>
        <!--        页头-->
        <el-header style="text-align: right; font-size: 12px">
            <el-dropdown>
                <i class="el-icon-setting" style="margin-right: 15px"></i>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>查看</el-dropdown-item>
                    <el-dropdown-item>新增</el-dropdown-item>
                    <el-dropdown-item>删除</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
            <span>王小虎</span>
        </el-header>

        <!--        我的任务列表-->
        <el-form :inline="true" :model="myTaskTableData" class="myTaskTableData">
            <template>

                <el-table
                        ref="singleTable"
                        :data="myTaskTableData"
                        style="width: 100%"
                        :row-class-name="tableRowClassName"
                        @selection-change="handleSelectionChange"
                        highlight-current-row
                        @current-change="handleCurrentChange"
                >

                    <el-table-column
                            type="index"
                            width="50">
                    </el-table-column>

                    <el-table-column
                            prop="taskName"
                            label="任务名称"
                            align="center"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="level"
                            label="难度"
                            align="center"
                            :formatter="levelFormatter"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="deadline"
                            align="center"
                            label="截止日期"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="allTaskCount"
                            align="center"
                            label="完成/总数"
                    >
                    </el-table-column>


                    <el-table-column
                            prop="status"
                            align="center"
                            label="当前状态"
                            :formatter="statusFormatter"

                    >
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="操作">
                        <el-row>

                            <el-button type="primary" @click="ok(myTaskTableData[0])" :plain="true">完成</el-button>
                            <el-button type="success" @click="add(myTaskTableData[0])" :plain="true">添加</el-button>
                        </el-row>

                    </el-table-column>

                </el-table>
            </template>
        </el-form>

        <!--        添加任务的对话框-->
        <el-dialog title="添加任务" :visible.sync="dialogFormVisible">
            <el-form ref="addTask" :model="addTask" label-width="80px" :rules="rules">
                <el-form-item label="任务名称" prop="taskName">
                    <el-input v-model="addTask.taskName" autocomplete="off"></el-input>
                </el-form-item>
                <template>
                    <el-radio v-model="addTask.level" label="0">简单</el-radio>
                    <el-radio v-model="addTask.level" label="1">困难</el-radio>
                </template>
                <el-form-item label="截止时间" prop="deadline">
                    <el-col :span="11">
                        <el-date-picker type="date" placeholder="选择日期" v-model="addTask.deadline"
                                        style="width: 100%;" autocomplete="off"></el-date-picker>
                    </el-col>
                    <el-col class="line" :span="2">-</el-col>

                </el-form-item>
                <el-button id="addButton" type="primary" @click="addSubmit('addTask')" :loading="false">添加</el-button>
                <el-button @click="dialogFormVisible = false">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

        <!--        我的队伍-表头-->
        <el-form :inline="true" :model="teamTableData" class="teamTableData">

            <!--        我的队伍-内容-->
            <template>
                <el-table
                        :data="teamTableData"
                        style="width: 100%"
                        :row-class-name="tableRowClassName"
                        @selection-change="handleSelectionChange"
                        highlight-current-row
                        @current-change="handleCurrentChange"
                >
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            type="index"
                            width="50">
                    </el-table-column>

                    <el-table-column
                            prop="teamMemberName"
                            label="人员"
                            align="center"
                            width="60"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="taskName"
                            label="任务"
                            align="center"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="level"
                            label="难度"
                            align="center"
                            width="50"
                            :formatter="levelFormatter"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="deadline"
                            label="截止日期"
                            align="center"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="status"
                            label="当前状态"
                            align="center"
                            width="60"
                            :formatter="statusFormatter"
                    >
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="操作">

                        <el-row>
                            <el-button type="primary">添加任务</el-button>
                            <el-button type="success">查看</el-button>
                            <el-button type="danger">删除</el-button>
                        </el-row>

                    </el-table-column>

                </el-table>
            </template>
        </el-form>

<!--        &lt;!&ndash;查询列表-表头&ndash;&gt;-->
<!--        <el-form :inline="true" :model="team" class="demo-form-inline">-->

<!--            <el-form-item label="当前状态">-->
<!--                <el-select v-model="team.status" placeholder="当前状态">-->
<!--                    <el-option label="启用" value="1"></el-option>-->
<!--                    <el-option label="禁用" value="0"></el-option>-->
<!--                </el-select>-->
<!--            </el-form-item>-->

<!--            <el-form-item label="企业名称">-->
<!--                <el-input v-model="team.taskName" placeholder="企业名称"></el-input>-->
<!--            </el-form-item>-->

<!--            <el-form-item label="品牌名称">-->
<!--                <el-input v-model="team.taskName" placeholder="品牌名称"></el-input>-->
<!--            </el-form-item>-->

<!--            <el-form-item>-->
<!--                <el-button type="primary" @click="submitForm(team)">查询</el-button>-->
<!--            </el-form-item>-->
<!--        </el-form>-->
        <!--查询列表-内容-->
        <!--        <template>-->
        <!--            <el-table-->
        <!--                    :data="tableData"-->
        <!--                    style="width: 100%"-->
        <!--                    :row-class-name="tableRowClassName"-->
        <!--                    @selection-change="handleSelectionChange"-->
        <!--            >-->
        <!--                <el-table-column-->
        <!--                        type="selection"-->
        <!--                        width="55">-->
        <!--                </el-table-column>-->
        <!--                <el-table-column-->
        <!--                        type="index"-->
        <!--                        width="50">-->
        <!--                </el-table-column>-->

        <!--                <el-table-column-->
        <!--                        prop="brandName"-->
        <!--                        label="品牌名称"-->
        <!--                        align="center"-->
        <!--                >-->
        <!--                </el-table-column>-->
        <!--                <el-table-column-->
        <!--                        prop="companyName"-->
        <!--                        label="企业名称"-->
        <!--                        align="center"-->
        <!--                >-->
        <!--                </el-table-column>-->
        <!--                <el-table-column-->
        <!--                        prop="ordered"-->
        <!--                        align="center"-->
        <!--                        label="排序">-->
        <!--                </el-table-column>-->
        <!--                <el-table-column-->
        <!--                        prop="status"-->
        <!--                        align="center"-->
        <!--                        label="当前状态">-->
        <!--                </el-table-column>-->

        <!--                <el-table-column-->
        <!--                        align="center"-->
        <!--                        label="操作">-->

        <!--                    <el-row>-->
        <!--                        <el-button type="primary">修改</el-button>-->
        <!--                        <el-button type="danger">删除</el-button>-->
        <!--                    </el-row>-->

        <!--                </el-table-column>-->

        <!--            </el-table>-->
        <!--        </template>-->

        <!--分页工具条-->
        <!--        <el-pagination-->
        <!--                @size-change="handleSizeChange"-->
        <!--                @current-change="handleCurrentChange"-->
        <!--                :current-page="currentPage"-->
        <!--                :page-sizes="[5, 10, 15, 20]"-->
        <!--                :page-size="5"-->
        <!--                layout="total, sizes, prev, pager, next, jumper"-->
        <!--                :total="400">-->
        <!--        </el-pagination>-->

    </el-container>

</el-container>


<!--导入依赖-->
<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">


<script>

    new Vue({
        el: "#chiefPeople",

        mounted() {
            //页面渲染结束后,发送异步请求,获取数据
            this.selectMyTask();
            this.selectMyTeam();

        },
        data() {
            const item = {
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            };
            return {
                //添加表单
                dialogFormVisible: false,

                // 当前页码
                currentPage: 4,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,

                //登录表单
                user: {
                    username: '',
                    password: '',
                },
                //表单校验
                rules: {
                    taskName: [
                        {required: true, message: '请输入任务名称', trigger: 'blur'},
                    ],
                    deadline: [
                        {required: true, message: '请输入截止日期', trigger: 'blur'},
                    ],
                },


                addTask: {
                    taskName: '',
                    level: '0',
                    deadline: '',
                    status: '',
                    taskId: '',
                    userId: '',
                    parentTaskId: '',
                    generalId: '',
                },

                myTaskTableData: [{
                    taskName: '',
                    level: '',
                    deadline: '',
                    status: '',
                    taskId: '',
                    userId: '',
                    parentTaskId: '',
                    //总任务数和完成情况:
                    allTaskCount: '',
                    generalId: '',
                }],

                // 队伍数据
                teamTableData: [{
                    teamMemberName: '',
                    taskName: '',
                    level: '',
                    deadline: '',
                    status: '',
                    userId: '',
                    taskId: '',
                }],

                currentRow: null,

                onSubmit() {
                    console.log('submit!');
                }
            }
        },

        methods: {

            //获取我的队伍的信息
            selectMyTeam() {
                //session存了当前登录者的姓名
                const _this = this;
                let len, j;
                axios({
                    method: "get",
                    url: "http://localhost:8080/qg-engineering-management-system/user/selectMyTeam"
                }).then(function (resp) {
                    if (resp.data.code === 200) {
                        _this.teamTableData = resp.data.data;
                        for (j = 0, len = _this.teamTableData.length; j < len; j++) {
                            //时间转换
                            _this.teamTableData[j].deadline = _this.getMyDate(resp.data.data[j].deadline);
                        }
                    }
                })

            },

            //添加表单
            addSubmit(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        const _this = this;

                        _this.addTask.parentTaskId = 0;
                        _this.addTask.status = 0;
                        axios({
                            method: "post",
                            url: "http://localhost:8080/qg-engineering-management-system/task/add",
                            data: _this.addTask,
                        }).then(function (resp) {
                            if (resp.data.code === 200) {
                                document.getElementById("addButton").disabled = true;

                                _this.dialogFormVisible = false;
                                _this.$message.success("任务添加成功");
                                setTimeout(_this.refresh, 500);

                            }
                        })
                    } else {
                        return false;
                    }

                });
            },
            //更新总任务和完成情况
            selectAllTaskCount(id) {
                const _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/qg-engineering-management-system/task/selectAllTaskCount",
                    data: id,
                }).then(function (resp) {
                    if (resp.data.code === 200) {
                        _this.myTaskTableData[0].allTaskCount = resp.data.data;
                    }
                })
            },
            add(row) {
                const _this = this;
                console.log(row.taskId);
                if (row.taskId === "" || row.taskId === 0) {
                    this.$refs.singleTable.setCurrentRow(row);
                    _this.dialogFormVisible = true;
                } else {
                    _this.$message.error("您已经有任务了");
                }
            },

            //选中行
            ok(row) {
                this.$refs.singleTable.setCurrentRow(row);
                console.log(row);
                const _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/qg-engineering-management-system/task/ok",
                    data: row.taskId,
                }).then(function (resp) {
                    if (resp.data.code === 200) {
                        _this.$message.success("恭喜你,任务已完成");
                        setTimeout(_this.refresh, 500);
                        _this.myTaskTableData[0].taskId = 0;

                    } else if (resp.data.code === 600210) {
                        _this.$message.error(resp.data.msg);
                    } else if (resp.data.code === 600200) {
                        _this.$message.error(resp.data.msg);
                    }
                })
            },

            refresh() {
                location.href = "http://localhost:8080/qg-engineering-management-system/chiefPeople.html";
            },

            handleCurrentChange(val) {
                this.currentRow = val;
            },

            //任务完成状态格式化
            statusFormatter(row, column) {
                const status = row.status
                if (status === 0) {
                    return '未完成'
                } else if (status === 1) {
                    return '已完成'
                }
            },

            //任务难度格式化
            levelFormatter(row, column) {
                const level = row.level
                if (level === 0) {
                    return '简单'
                } else if (level === 1) {
                    return '困难'
                }
            },

            //分页
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            // handleCurrentChange(val) {
            //     console.log(`当前页: ${val}`);
            // },

            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },

            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;

                console.log(this.multipleSelection)
            },


            //获取我的任务
            selectMyTask() {
                //session存了当前登录者的姓名
                const _this = this;
                axios({
                    method: "get",
                    url: "http://localhost:8080/qg-engineering-management-system/task/selectMyTask"
                }).then(function (resp) {
                    if (resp.data.code === 200) {
                        _this.myTaskTableData = resp.data.data;
                        //时间转换
                        _this.myTaskTableData[0].deadline = _this.getMyDate(resp.data.data[0].deadline);
                        _this.selectAllTaskCount(resp.data.data[0].userId);
                    }
                })
            },

            //时间戳转换为日期
            getMyDate(str) {
                var oDate = new Date(str),
                    oYear = oDate.getFullYear(),
                    oMonth = oDate.getMonth() + 1,
                    oDay = oDate.getDate(),
                    oHour = oDate.getHours(),
                    oMin = oDate.getMinutes(),
                    oSen = oDate.getSeconds(),
                    oTime = oYear + '-' + this.addZero(oMonth) + '-' + this.addZero(oDay) + ' ' + this.addZero(oHour) + ':' +
                        this.addZero(oMin) + ':' + this.addZero(oSen);
                return oTime;
            },

            //补零操作
            addZero(num) {
                if (parseInt(num) < 10) {
                    num = '0' + num;
                }
                return num;
            },

            // submitForm(formName) {
            //     this.$refs[formName].validate((valid) => {
            //         if (valid) {
            //             const _this = this;
            //             axios({
            //                 method: "post",
            //                 url: "http://localhost:8080/qg-engineering-management-system/user/login",
            //                 data: _this.user,
            //             }).then(function (resp) {
            //
            //                 console.log(resp.data);
            //                 console.log(resp.data.code);
            //
            //                 if (resp.data.code === 200) {
            //                     _this.$message({
            //                         message: '登录成功~',
            //                         type: 'success'
            //                     });
            //                     //通过用户的职位进行页面的跳转
            //                     location.href = "http://localhost:8080/qg-engineering-management-system/chiefPeople.html";
            //                 } else if (resp.data.code === 500200) {
            //                     _this.$message.error(resp.data.msg);
            //                 } else {
            //                     _this.$message.error('未知错误,请联系管理员');
            //                 }
            //             })
            //         } else {
            //             console.log('error submit!!');
            //             return false;
            //         }
            //     });
            // },

        },
    });
</script>

</body>
</html>